body{
  background: url('assets/freedom.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.box{
  text-align: center;
  margin: 0 auto;
  color: #333;
  width: 90%;
  padding-top: 4rem;
}

.citation{
  font-size: 2.5rem;
  
  font-family: 'Julius Sans One', sans-serif;
}

.author{
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 1.5rem;
}